* {
  
  margin: 0;
  transition: all .05s ease;
}

body {
  background-color: #191919;
  
  font-family: 'Cinzel', serif;


}

body::-webkit-scrollbar {
  width: 1em;
  
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(143, 17, 17, 0.3);
  background-color:rgba(0, 0, 0, 0.5);
  
}
body::-webkit-scrollbar-thumb {
  background-color: #fff;
  outline: 2px solid rgb(255, 251, 251);
  border-radius: 100000px;
}

h1 {
 
  margin: 1rem 1rem 0rem 1rem;
  padding: 0px;
  
  font-size: calc(20px + 6vmin);
  color: #fff;
  text-shadow: 2px 2px 2px rgba(191, 190, 190, 0.423);
  
  
  /* border: solid 3px rgb(0, 0, 0);
  border-radius: 15%; */
}

h3 {
  margin: 1rem 0rem 1rem 0rem;
  color: #fff;
}

p {
  margin: 1rem 0rem 1rem 0rem;
  color: #fff;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin: 1rem 1rem 1rem 1rem;
  padding: 25px;
  min-width: 60vh;
  height: 7vh;
}

section {
  width: auto;
  margin: 1em 7em 0em 7em;
  background-color: #373737;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  align-content: center;
  justify-content: center;
  padding: 1rem 2rem 1rem 2rem;
}

.image {
  justify-items: center;
  align-items: center;
  
  box-shadow:   -9px 9px 18px #222222,
                 9px -9px 18px #4c4c4c;
  border: 2px solid #373737;
  object-fit: contain;
  border-radius: 40px;
  margin: 2rem 8rem 1rem 8rem;
  cursor: default;
  transition: width 1s ease-in-out;
  overflow: auto;
  padding: 1em;
}
.image:hover {
  /* width: 50vh; */
  transition: filter 0.5s ease;
  filter: drop-shadow(16px 16px 30px rgb(154, 154, 154)) invert(3%);
  
}

.image.prof {
  
}

img {
  
  width: 100%;
  height: auto;
}


@media screen and (320px <= width <= 750px) {
  /* When the browser is between 400-1000px */
}

@media screen and (751px <= width <= 1250px) {
  /* When the browser is between 400-1000px */
}

@media screen and (1251px <= width <= 2150px) {
  /* When the browser is between 400-1000px */
}